__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
dist/
build/
.eggs/
.venv/
venv/
env/
*.whl
vendor/
go.sum
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
